@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply text-color-alpha-black100
	}
}

/* Pretendard */
@font-face {
	font-family: "Pretendard";
	src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
		format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Pretendard";
	src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
		format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Pretendard";
	src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
		format("woff");
	font-weight: 700;
	font-style: normal;
}

/* Paperlogy */
@font-face {
	font-family: "Paperlogy";
	src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2")
		format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Paperlogy";
	src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2")
		format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Paperlogy";
	src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2")
		format("woff2");
	font-weight: 700;
	font-style: normal;
}

/* LINE Seed Sans KR */
@font-face {
	font-family: "LINE Seed Sans KR";
	src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2")
		format("woff2");
	font-weight: 250;
	font-style: normal;
}

@font-face {
	font-family: "LINE Seed Sans KR";
	src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2")
		format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "LINE Seed Sans KR";
	src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
		format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/npm/@fontsource/lexend/files/lexend-latin-400-normal.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/npm/@fontsource/lexend/files/lexend-latin-400-normal.woff') format('woff');
}

.question-content-fill-blank > .ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #8A949E;
  pointer-events: none;
  height: 0;
}

